@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/__place_header/logo__place_header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/description/two-columns/two-columns.css);
@import url(../blocks/description/__brief/two-columns__brief.css);
@import url(../blocks/description/__main-text/two-columns__main-text.css);
@import url(../blocks/description/__paragraph/two-columns__paragraph.css);
@import url(../blocks/description/__span-accent/two-columns__span-accent.css);

div {
  border: 1px solid red;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
  background-color: white;
}



/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.Inter-Regular {
  font-weight: normal;

}
.Inter-Bold {
  font-weight: 800;
}
.Inter-SemiBold {
  font-weight: 600;

}
.Inter {
  font-size: 25px;
  color: #000000;
}









